//-
	-----------------------------------------------------------------------------
	Copyright (c) 2014-2015 Seth Anderson

	This software is provided 'as-is', without any express or implied warranty. 
	In no event will the authors be held liable for any damages arising from the 
	use of this software.

	Permission is granted to anyone to use this software for any purpose, 
	including commercial applications, and to alter it and redistribute it 
	freely, subject to the following restrictions:

	1. The origin of this software must not be misrepresented; you must not 
	claim that you wrote the original software. If you use this software in a 
	product, an acknowledgment in the product documentation would be appreciated 
	but is not required.

	2. Altered source versions must be plainly marked as such, and must not be 
	misrepresented as being the original software.

	3. This notice may not be removed or altered from any source distribution.
	-----------------------------------------------------------------------------

.article-list(ng-controller = "ArticleListController as articles")
	.page-title
		h2 Article List
	.page-content
		.col-xs-6
			.button-row
				.button-row-left.button-row-padded
					a.btn.btn-default(ng-click = "articles.current = {}")
						span.button-icon.glyphicon.glyphicon-plus
						| New
			.panel.no-padding
				.panel-content
					.empty-table(ng-if = "articles.list.length === 0") No articles defined
					table(ng-if = "articles.list.length > 0")
						thead
							tr
								th Title
								th Author
								th Created
								th Published
								th
						tbody
							tr(ng-repeat = "article in articles.list",
								ng-click = "articles.select($index)",
								ng-class = "articles.list[$index]._id === articles.current._id ? 'selected' : ''")
								td {{article.title}}
								td {{article.author.firstName}} {{article.author.lastName}}
								td {{article.created | date: "medium"}}
								td
									span.text-success.glyphicon.glyphicon-ok(ng-if = "article.published")
									span.text-danger.glyphicon.glyphicon-remove(ng-if = "!article.published")
								td Hello
		.col-xs-6
			.no-selection(ng-if = "!articles.current")
				| No article selected
			.panel.unrolling(ng-if = "articles.current")
				.panel-body
					form(name = "articleForm", novalidate, ng-submit = "articles.save()")
						.row
							.form-group.col-xs-6
								label Title 
									span.text-danger (Required)
								input.form-control(type = "text", name = "title", autofocus, ng-model = "articles.current.title", required)
								.form-feedback.text-danger(ng-messages = "articleForm.title.$error", ng-if = "articleForm.title.$dirty", role = "alert")
									div(ng-message = "required") A title is required
							.form-group.col-xs-6
								label Published
								enum-select(current = "articles.current.published", possibles = "articles.boolPossibles")
						.row
							.well.col-xs-6
								.row
									label.col-xs-5 Created By:
									.col-xs-7(ng-if = "articles.current.author") {{articles.current.author.firstName}} {{articles.current.author.lastName}} ({{articles.current.author.email}})
									.col-xs-7(ng-if = "!articles.current.author") N/A
								.row
									label.col-xs-5 Created:
									.col-xs-7(ng-if = "articles.current.created") {{articles.current.created | date: "medium"}}
									.col-xs-7(ng-if = "!articles.current.created") N/A
								.row
									label.col-xs-5 Modified By:
									.col-xs-7(ng-if = "articles.current.modifiedBy") {{articles.current.modifiedBy.firstName}} {{articles.current.modifiedBy.lastName}} ({{articles.current.modifiedBy.email}})
									.col-xs-7(ng-if = "!articles.current.modifiedBy") N/A
								.row
									label.col-xs-5 Modified:
									.col-xs-7(ng-if = "articles.current.modified") {{articles.current.modified | date: "medium"}}
									.col-xs-7(ng-if = "!articles.current.modified") N/A
						.row
							.form-group.col-xs-6
								label Tags
								simple-array-entry(array-model = "articles.current.tags", addition-tooltip = "Add another tag", removal-tooltip = "Remove this tag")
						.row
							.form-group.col-xs-12
								label Content
								text-angular(ng-model = "articles.current.content")
						.row
							.col-xs-6
								.button-row-left
									input.btn.btn-default(type = "submit", value = "Save", ng-disabled = "articleForm.$invalid")
									a.btn.btn-link(ng-click = "articles.current = null") Cancel
							.col-xs-6
								.button-row-right
									a.btn.btn-default(ng-if = "articles.current._id", ng-click = "articles.delete(articles.current._id)")
										span.button-icon.glyphicon.glyphicon-trash
										| Delete
