//-
	-----------------------------------------------------------------------------
	Copyright (c) 2014-2015 Seth Anderson

	This software is provided 'as-is', without any express or implied warranty. 
	In no event will the authors be held liable for any damages arising from the 
	use of this software.

	Permission is granted to anyone to use this software for any purpose, 
	including commercial applications, and to alter it and redistribute it 
	freely, subject to the following restrictions:

	1. The origin of this software must not be misrepresented; you must not 
	claim that you wrote the original software. If you use this software in a 
	product, an acknowledgment in the product documentation would be appreciated 
	but is not required.

	2. Altered source versions must be plainly marked as such, and must not be 
	misrepresented as being the original software.

	3. This notice may not be removed or altered from any source distribution.
	-----------------------------------------------------------------------------

.article-list(ng-controller = "ArticleListController as articles")
	.page-title
		h2 Article List
	.page-content
		.col-lg-6
			.button-row
				.button-row-left.button-row-padded
					a.btn.btn-default(ui-sref = ".detail({articleId: 'new'})")
						span.button-icon.glyphicon.glyphicon-plus
						| New
				.button-row-right.button-row-padded(tooltip = "Not yet implemented")
					a.btn.btn-default(disabled)
						span.button-icon.glyphicon.glyphicon-filter
						| Filter
					a.btn.btn-default(disabled)
						span.button-icon.glyphicon.glyphicon-search
						| Search
			.panel.no-padding
				.panel-content
					.empty-table(ng-if = "articles.list.length === 0") No articles defined
					table(ng-if = "articles.list.length > 0")
						thead
							tr
								th Title
								th Author
								th Created
								th Published
						tbody
							tr(ng-repeat = "article in articles.list",
								ui-sref = ".detail({articleId: articles.list[$index]._id})",
								ng-class = "articles.list[$index]._id === articles.selectedArticle ? 'selected' : ''")
								td {{article.title}}
								td {{article.author.firstName}} {{article.author.lastName}}
								td {{article.created | date: "medium"}}
								td
									span.text-success.glyphicon.glyphicon-ok(ng-if = "article.published")
									span.text-danger.glyphicon.glyphicon-remove(ng-if = "!article.published")
		.col-lg-6
			.no-selection(ng-if = "!articles.selectedArticle")
				| No article selected
			div(ui-view = "detail")
