//-
	-----------------------------------------------------------------------------
	Copyright (c) 2014-2016 Seth Anderson

	This software is provided 'as-is', without any express or implied warranty. 
	In no event will the authors be held liable for any damages arising from the 
	use of this software.

	Permission is granted to anyone to use this software for any purpose, 
	including commercial applications, and to alter it and redistribute it 
	freely, subject to the following restrictions:

	1. The origin of this software must not be misrepresented; you must not 
	claim that you wrote the original software. If you use this software in a 
	product, an acknowledgment in the product documentation would be appreciated 
	but is not required.

	2. Altered source versions must be plainly marked as such, and must not be 
	misrepresented as being the original software.

	3. This notice may not be removed or altered from any source distribution.
	-----------------------------------------------------------------------------

.panel(ng-controller = "RsvpDetailController as rsvp")
	.panel-body.has-banner
		form(name = "rsvpForm", novalidate, ng-submit = "rsvp.save()")
			.row.panel-banner
				.col-xs-8
					.form-group(style = "margin: 0;")
						.col-xs-7
							label User:&nbsp;&nbsp;
							.horizontal(ng-if = "rsvp.loaded && rsvp.current._id") {{rsvp.current.user.firstName}} {{rsvp.current.user.lastName}}
							.horizontal(ng-if = "rsvp.loaded && !rsvp.current._id")
								a.btn.btn-default(ng-click = "rsvp.selectUser()") {{rsvp.userSelectText}}
						.col-xs-5
							label LAN:&nbsp;&nbsp;
							.horizontal(ng-if = "rsvp.loaded && rsvp.current._id") {{rsvp.current.lan.beginDate | date: "mediumDate"}}
							.horizontal(ng-if = "rsvp.loaded && !rsvp.current._id")
								a.btn.btn-default(ng-click = "rsvp.selectLan()") {{rsvp.lanSelectText | date : "mediumDate"}}
				.form-group.col-xs-4(style = "margin: 0; text-align: right;")
					enum-select.horizontal(current = "rsvp.current.status", possibles = "rsvp.statusPossibles")
			.row
				.form-group.col-xs-3
					label Playing
					enum-select(current = "rsvp.current.playing", possibles = "rsvp.boolPossibles")
				.form-group.col-xs-3
					label Cleaning
					enum-select(current = "rsvp.current.cleaning", possibles = "rsvp.boolPossibles")
				.form-group.col-xs-3
					label Attended
					enum-select(current = "rsvp.current.attended", possibles = "rsvp.boolPossibles")
			.row
				.form-group.col-xs-6
					label Guests
					input.form-control(type = "number", min = "0", pattern = "^\\d+$", name = "guests", ng-model = "rsvp.current.guests", placeholder = "0")
					.form-feedback.text-danger(ng-messages = "rsvpForm.guests.$error", ng-if = "rsvpForm.guests.$dirty", role = "alert")
						div(ng-message = "number") Must be a non-negative number
						div(ng-message = "min") Must be a non-negative number
			.row
				p.col-xs-6
					label Tournaments
			.row
				.well.col-xs-6
					.row(ng-repeat = "tournament in rsvp.tournaments")
						.form-group.col-xs-12
							label.form-control-static.col-xs-6 {{tournament.name}}
							enum-select(current = "tournament.signedUp", possibles = "rsvp.boolPossibles")
			.row
				.col-xs-6
					.button-row-left
						button.btn.btn-default(type = "submit", ng-disabled = "rsvpForm.$invalid || rsvp.busy")
							span.button-icon.glyphicon.glyphicon-save
							| Save
						a.btn.btn-link(ui-sref = "^") Cancel
				.col-xs-6
					.button-row-right
						a.btn.btn-default(ng-if = "rsvp.current._id", ng-click = "rsvp.delete()", ng-disabled = "rsvp.busy")
							span.button-icon.glyphicon.glyphicon-trash
							| Delete
