//-
	-----------------------------------------------------------------------------
	Copyright (c) 2014-2016 Seth Anderson

	This software is provided 'as-is', without any express or implied warranty. 
	In no event will the authors be held liable for any damages arising from the 
	use of this software.

	Permission is granted to anyone to use this software for any purpose, 
	including commercial applications, and to alter it and redistribute it 
	freely, subject to the following restrictions:

	1. The origin of this software must not be misrepresented; you must not 
	claim that you wrote the original software. If you use this software in a 
	product, an acknowledgment in the product documentation would be appreciated 
	but is not required.

	2. Altered source versions must be plainly marked as such, and must not be 
	misrepresented as being the original software.

	3. This notice may not be removed or altered from any source distribution.
	-----------------------------------------------------------------------------

.teamspeak(ng-controller = "TeamspeakController as ts")
	.page-title
		h2 Teamspeak
	.page-content
		.col-lg-6
			.row
				.col-lg-6
					.panel
						.panel-header
							h2 Channel Browser
						.panel-body
							teamspeak-browser(server-info = "ts.serverInfo", channel-list = "ts.channels")
				.col-lg-6
					.panel
						.panel-header
							h2 Server Info
						.panel-body
							.row
								.col-xs-6.form-group
									label Version
									p {{ts.version.version}}.{{ts.version.build}}
								.col-xs-6.form-group
									label Platform
									p {{ts.version.platform}}
							.row
								.col-xs-6.form-group
									label Uptime
									p {{ts.hostInfo.instance_uptime}}
								.col-xs-6.form-group
									label Clients
									p {{ts.hostInfo.virtualservers_total_clients_online}} / {{ts.hostInfo.virtualservers_total_maxclients}}
			.row
				.col-lg-12
					.panel.no-padding
						.panel-content
							.empty-table(ng-if = "ts.knownClients.length === 0") No known clients
							table(ng-if = "ts.knownClients.length > 0")
								thead.panel-banner
									tr
										th Known Client
										th Last Connected
										th Total Connections
								tbody
									tr(ng-repeat = "client in ts.knownClients",
										ui-sref = ".clientDbDetail({cldbid: ts.knownClients[$index].cldbid})",
										ng-class = "ts.knownClients[$index].cldbid === ts.selected && ts.selectedType === 'cldb' ? 'selected' : ''")
										td {{client.client_nickname}}
										td {{client.client_lastconnected | date}}
										td {{client.client_totalconnections}}
		.col-lg-6
			.no-selection(ng-if = "!ts.selected")
				| Nothing selected
			div(ui-view = "detail")
