//-
	-----------------------------------------------------------------------------
	Copyright (c) 2014-2015 Seth Anderson

	This software is provided 'as-is', without any express or implied warranty. 
	In no event will the authors be held liable for any damages arising from the 
	use of this software.

	Permission is granted to anyone to use this software for any purpose, 
	including commercial applications, and to alter it and redistribute it 
	freely, subject to the following restrictions:

	1. The origin of this software must not be misrepresented; you must not 
	claim that you wrote the original software. If you use this software in a 
	product, an acknowledgment in the product documentation would be appreciated 
	but is not required.

	2. Altered source versions must be plainly marked as such, and must not be 
	misrepresented as being the original software.

	3. This notice may not be removed or altered from any source distribution.
	-----------------------------------------------------------------------------

.panel(ng-controller = "UserDetailController as user")
	.panel-body
		form(name = "userForm", novalidate, ng-submit = "user.save()")
			.row
				.form-group.col-xs-6
					label Email 
						span.text-danger (Required)
					input.form-control(type = "email", name = "email", autofocus, ng-model = "user.current.email", required)
					.form-feedback.text-danger(ng-messages = "userForm.email.$error", ng-if = "userForm.email.$dirty", role = "alert")
						div(ng-message = "required") An email is required
						div(ng-message = "email") Invalid email
				.field-align.col-xs-6(ng-if = "!user.current.verified")
					span.text-danger.form-control-static.col-xs-6 Email not verified!
					a.col-xs-6(class = "btn btn-danger" ng-click = "user.resendVerificationEmail()") Resend Verification
				.field-align.col-xs-6(ng-if = "user.current.verified")
					span.text-success.form-control-static.col-xs-6 Been verified!
			.row(ng-if = "!user.current._id")
				.form-group.col-xs-6
					label Password 
						span.text-danger (Required)
					input.form-control(type = "password", name = "password", ng-model = "user.current.password", required)
					.form-feedback.text-danger(ng-messages = "userForm.password.$error", ng-if = "userForm.password.$dirty", role = "alert")
						div(ng-message = "required") An password is required
				.form-group.col-xs-6
					label Confirm Password
					input.form-control(type = "password", name = "confirmPassword", ng-model = "user.confirmPassword", compare-to = "user.current.password")
					.form-feedback.text-danger(ng-messages = "userForm.confirmPassword.$error", ng-if = "userForm.confirmPassword.$dirty", role = "alert")
						div(ng-message = "compareTo") Passwords must match
			.row
				.well.col-xs-6
					.row
						label.col-xs-5 Created:
						.col-xs-7(ng-if = "user.current.created") {{user.current.created | date: "medium"}}
						.col-xs-7(ng-if = "!user.current.created") N/A
					.row
						label.col-xs-5 Modified:
						.col-xs-7(ng-if = "user.current.modified") {{user.current.modified | date: "medium"}}
						.col-xs-7(ng-if = "!user.current.modified") N/A
					.row
						label.col-xs-5 Last Online:
						.col-xs-7(ng-if = "user.current.accessed") {{user.current.accessed | date: "medium"}}
						.col-xs-7(ng-if = "!user.current.accessed") N/A
			.row
				.form-group.col-xs-6
					label First Name
					input.form-control(type = "text", name = "firstName", ng-model = "user.current.firstName")
				.form-group.col-xs-6
					label Last Name
					input.form-control(type = "text", name = "lastName", ng-model = "user.current.lastName")
			.row
				.form-group.col-xs-6
					label Handles
					input.form-control(type = "text", name = "primaryHandle", ng-model = "user.current.primaryHandle", placeholder = "Primary Handle")
			.row
				.form-group.col-xs-6
					simple-array-entry(array-model = "user.current.tertiaryHandles", addition-tooltip = "Add another handle", removal-tooltip = "Remove this handle")
			.row
				.form-group.col-xs-4
					label LAN Invite Desired 
						.glyphicon.glyphicon-question-sign(tooltip = "{{user.help.lanInviteDesired}}", tooltip-placement = "bottom")
					enum-select(current = "user.current.lanInviteDesired", possibles = "user.boolPossibles")
				.form-group.col-xs-4
					label Blacklisted 
						.glyphicon.glyphicon-question-sign(tooltip = "{{user.help.blacklisted}}", tooltip-placement = "bottom")
					enum-select(current = "user.current.blacklisted", possibles = "user.boolPossibles")
				.form-group.col-xs-4
					label VIP 
						.glyphicon.glyphicon-question-sign(tooltip = "{{user.help.vip}}", tooltip-placement = "bottom")
					enum-select(current = "user.current.vip", possibles = "user.boolPossibles")
			.row
				.form-group.col-xs-4
					label Roles
					simple-array-entry(array-model = "user.current.roles", addition-tooltip = "Add another role", removal-tooltip = "Remove this role")
			.row
				.col-xs-6
					.button-row-left
						button.btn.btn-default(type = "submit", ng-disabled = "userForm.$invalid")
							span.button-icon.glyphicon.glyphicon-save
							| Save
						a.btn.btn-link(ui-sref = "^") Cancel
