//-
	-----------------------------------------------------------------------------
	Copyright (c) 2014-2015 Seth Anderson

	This software is provided 'as-is', without any express or implied warranty. 
	In no event will the authors be held liable for any damages arising from the 
	use of this software.

	Permission is granted to anyone to use this software for any purpose, 
	including commercial applications, and to alter it and redistribute it 
	freely, subject to the following restrictions:

	1. The origin of this software must not be misrepresented; you must not 
	claim that you wrote the original software. If you use this software in a 
	product, an acknowledgment in the product documentation would be appreciated 
	but is not required.

	2. Altered source versions must be plainly marked as such, and must not be 
	misrepresented as being the original software.

	3. This notice may not be removed or altered from any source distribution.
	-----------------------------------------------------------------------------

doctype html
html(ng-app = "3akm.admin")
	head
		title 3AK^M Administrative Portal
		link(rel = "stylesheet", type = "tsxt/css", href = "/thirdparty/bootstrap/css/bootstrap.min.css")
		link(rel = "stylesheet", type = "text/css", href = "/thirdparty/ngToast/ngToast.min.css")
		link(rel = "stylesheet", type = "text/css", href = "/thirdparty/ngToast/ngToast-animations.min.css")
		link(rel = "stylesheet", type = "tsxt/css", href = "/thirdparty/fontawesome/css/font-awesome.min.css")
		link(rel = "stylesheet", type = "tsxt/css", href = "/thirdparty/textangular/textAngular.css")
		link(rel = "stylesheet", type = "tsxt/css", href = "/css/admin.css")
		meta(name = "viewport", content = "width=device-width, initial-scale=1")
	body
		base(href = "/admin/")
		toast
		.container-fluid.content-area
			.menu.col-xs-2.visible-md.visible-lg
				a(ui-sref = "default")
					.logo
				ul.menu-list.nav.nav-stacked
					li(ui-sref-active = "current")
						a(ui-sref = "default")
							| Dashboard
					li(ui-sref-active = "current")
						a(ui-sref = "article")
							| Articles
					li(ui-sref-active = "current")
						a(ui-sref = "user")
							| Users
					li(ui-sref-active = "current")
						a(ui-sref = "game")
							| Games
					li(ui-sref-active = "current")
						a(ui-sref = "lan")
							| LANs
					li(ui-sref-active = "current")
						a(ui-sref = "rsvp")
							| RSVPs
					li(ui-sref-active = "current")
						a(ui-sref = "recipient")
							| Invite Recipients
					li(ui-sref-active = "current")
						a(ui-sref = "cod4")
							| Call of Duty 4
					hr
					li
						a(href = "/", target = "_self")
							| Frontend
			.menu-slim.button-row.hidden-md.hidden-lg
				a.btn.menu-button.glyphicon.glyphicon-menu-hamburger(ng-click = "showMenu = !showMenu")
			.menu.hidden-md.hidden-lg(ng-show = "showMenu")
				ul.menu-list.nav.nav-stacked
					li(ui-sref-active = "current")
						a(ui-sref = "default", ng-click = "showMenu = false")
							| Dashboard
					li(ui-sref-active = "current")
						a(ui-sref = "article", ng-click = "showMenu = false")
							| Articles
					li(ui-sref-active = "current")
						a(ui-sref = "user", ng-click = "showMenu = false")
							| Users
					li(ui-sref-active = "current")
						a(ui-sref = "game", ng-click = "showMenu = false")
							| Games
					li(ui-sref-active = "current")
						a(ui-sref = "lan", ng-click = "showMenu = false")
							| LANs
					li(ui-sref-active = "current")
						a(ui-sref = "rsvp", ng-click = "showMenu = false")
							| RSVPs
					li(ui-sref-active = "current")
						a(ui-sref = "recipient", ng-click = "showMenu = false")
							| Invite Recipients
					li(ui-sref-active = "current")
						a(ui-sref = "cod4", ng-click = "showMenu = false")
							| Call of Duty 4
					hr
					li
						a(href = "/", target = "_self")
							| Frontend
			.content.col-md-10(ui-view)
	script(src = "/thirdparty/angular.min.js")
	script(src = "/thirdparty/angular-messages.min.js")
	script(src = "/thirdparty/angular-animate.min.js")
	script(src = "/thirdparty/angular-sanitize.min.js")
	script(src = "/thirdparty/angular-ui-router.min.js")
	script(src = "/thirdparty/angular-loadscript.js")
	script(src = "/thirdparty/ui-bootstrap-tpls-0.13.0.min.js")
	script(src = "/thirdparty/textangular/textAngular-rangy.min.js")
	script(src = "/thirdparty/textangular/textAngular-sanitize.min.js")
	script(src = "/thirdparty/textangular/textAngular.min.js")
	script(src = "/thirdparty/ngToast/ngToast.min.js")
	script(src = "/thirdparty/d3.min.js")
	script(src = "/js/admin.js")
	analytics(analytics-tracking-id = analyticsTrackingId)
