//-
	-----------------------------------------------------------------------------
	Copyright (c) 2014-2015 Seth Anderson

	This software is provided 'as-is', without any express or implied warranty. 
	In no event will the authors be held liable for any damages arising from the 
	use of this software.

	Permission is granted to anyone to use this software for any purpose, 
	including commercial applications, and to alter it and redistribute it 
	freely, subject to the following restrictions:

	1. The origin of this software must not be misrepresented; you must not 
	claim that you wrote the original software. If you use this software in a 
	product, an acknowledgment in the product documentation would be appreciated 
	but is not required.

	2. Altered source versions must be plainly marked as such, and must not be 
	misrepresented as being the original software.

	3. This notice may not be removed or altered from any source distribution.
	-----------------------------------------------------------------------------

doctype html
html(ng-app = "3akm.admin")
	head
		title 3AK^M Administrative Portal
		link(rel = "stylesheet", type = "tsxt/css", href = "/thirdparty/material/angular-material.min.css")
		link(rel = "stylesheet", type = "tsxt/css", href = "/css/admin.css")
		meta(name = "viewport", content = "width=device-width, initial-scale=1")
	body
		base(href = "/admin/")
		.content-area(layout = "row")
			.nav(flex-gt-md = "10", flex-md = "0", flex-sm = "0")
				a(ui-sref = "default")
					.logo
				md-list
					md-list-item
						a.md-button.md-default-theme.md-primary(flex, ui-sref = "default", ui-sref-active = "md-accent")
							| Dashboard
					md-list-item
						a.md-button.md-default-theme.md-primary(flex, ui-sref = "articleList", ui-sref-active = "md-accent")
							| Articles
					md-list-item
						a.md-button.md-default-theme.md-primary(flex, ui-sref = "userList", ui-sref-active = "md-accent")
							| Users
					md-list-item
						a.md-button.md-default-theme.md-primary(flex, ui-sref = "gameList", ui-sref-active = "md-accent")
							| Games
					md-list-item
						a.md-button.md-default-theme.md-primary(flex, ui-sref = "lanList", ui-sref-active = "md-accent")
							| LANs
					md-list-item
						a.md-button.md-default-theme.md-primary(flex, ui-sref = "rsvpList", ui-sref-active = "md-accent")
							| RSVPs
					md-divider
					md-list-item
						a.md-button.md-default-theme.md-primary(flex, href = "/", target = "_self")
							| Frontend
			md-content(md-theme = "default-light", flex, ui-view)
	script(src = "/thirdparty/angular.min.js")
	script(src = "/thirdparty/angular-messages.min.js")
	script(src = "/thirdparty/angular-animate.min.js")
	script(src = "/thirdparty/angular-aria.min.js")
	script(src = "/thirdparty/material/angular-material.min.js")
	script(src = "/thirdparty/angular-sanitize.min.js")
	script(src = "/thirdparty/angular-ui-router.min.js")
	script(src = "/thirdparty/angular-loadscript.js")
	script(src = "/thirdparty/d3.min.js")
	script(src = "/js/admin.js")
