//
	-----------------------------------------------------------------------------
	Copyright (c) 2014 Seth Anderson

	This software is provided 'as-is', without any express or implied warranty. 
	In no event will the authors be held liable for any damages arising from the 
	use of this software.

	Permission is granted to anyone to use this software for any purpose, 
	including commercial applications, and to alter it and redistribute it 
	freely, subject to the following restrictions:

	1. The origin of this software must not be misrepresented; you must not 
	claim that you wrote the original software. If you use this software in a 
	product, an acknowledgment in the product documentation would be appreciated 
	but is not required.

	2. Altered source versions must be plainly marked as such, and must not be 
	misrepresented as being the original software.

	3. This notice may not be removed or altered from any source distribution.
	-----------------------------------------------------------------------------

extends layout.jade

block content
	p Lorem ipsum dolor sit amet, per enim duis fuisset no, has id laudem invenire gubergren, ei his autem disputationi. Nam agam torquatos ei, quo semper tritani intellegam eu. Mei facilisi deserunt assentior ad, cu his exerci aperiri legimus. Facete molestie mea ex, cu mel dicant civibus definiebas. Similique definiebas ut pri, sit dictas suscipiantur conclusionemque eu, his ne probo laoreet appellantur. Vidit admodum te has, ea sumo diceret vix, his brute malis consulatu ea.

