//-
	-----------------------------------------------------------------------------
	Copyright (c) 2014-2015 Seth Anderson

	This software is provided 'as-is', without any express or implied warranty. 
	In no event will the authors be held liable for any damages arising from the 
	use of this software.

	Permission is granted to anyone to use this software for any purpose, 
	including commercial applications, and to alter it and redistribute it 
	freely, subject to the following restrictions:

	1. The origin of this software must not be misrepresented; you must not 
	claim that you wrote the original software. If you use this software in a 
	product, an acknowledgment in the product documentation would be appreciated 
	but is not required.

	2. Altered source versions must be plainly marked as such, and must not be 
	misrepresented as being the original software.

	3. This notice may not be removed or altered from any source distribution.
	-----------------------------------------------------------------------------

extends layout.jade

block content
	if games
		h1 Games for LAN #{year}
		hr
		each game in games
			.section-entry
				.section-header.grayscale(style = "background-image:url(" + game.game.descriptionHeaderImage + ");")
					h2= game.game.name
				.section-body
					.game-info-panel
						if stores.length > 0 && game.game.stores.length > 0
							.stores
								each store in game.game.stores
									- var storeInfo
									- for(var i = 0; i < stores.length; i += 1){
									-     if(store.store.toString() === stores[i]._id.toString()){
									-         storeInfo = stores[i];
									-         break;
									-     }
									- }
									a(href = storeInfo.appUrl.replace("[appid]", store.appid), title = storeInfo.name)
										img.store-icon(src = storeInfo.icon)
						if game.game.supplementalFiles.length > 0
							.panel.panel-default
								.panel-heading
									h3.panel-title Supplemental Files
								.panel-body
									each file in game.game.supplementalFiles
										.file
											a(href = file.url)= file.name
					.desciprtion!= game.game.description
	else
		h1 No active LAN defined
		hr
