//-
	-----------------------------------------------------------------------------
	Copyright (c) 2014 Seth Anderson

	This software is provided 'as-is', without any express or implied warranty. 
	In no event will the authors be held liable for any damages arising from the 
	use of this software.

	Permission is granted to anyone to use this software for any purpose, 
	including commercial applications, and to alter it and redistribute it 
	freely, subject to the following restrictions:

	1. The origin of this software must not be misrepresented; you must not 
	claim that you wrote the original software. If you use this software in a 
	product, an acknowledgment in the product documentation would be appreciated 
	but is not required.

	2. Altered source versions must be plainly marked as such, and must not be 
	misrepresented as being the original software.

	3. This notice may not be removed or altered from any source distribution.
	-----------------------------------------------------------------------------

extends layout.jade

block content
	h1 Game Editor
	hr
	form#game-editor-form(role = "form")
		if !game
			.row
				.form-group.col-xs-6
					label Name
					input.form-control(type = "text", name = "name", autofocus)
				.form-group.col-xs-6
					label Version
					input.form-control(type = "text", name = "version", placeholder = "Current")
			.row
				fieldset.col-xs-12
					legend Games Page Description
					.row
						.form-group.col-xs-6
							label Description Header Image URL
							input.form-control(type = "text", name = "descriptionHeaderImage")
					.row
						.form-group.col-xs-12
							label Description Content
							textarea.form-control.editorfield(type = "text", name = "description")
			.row
				fieldset.col-xs-12
					legend Supplemental Files
					.row.supplementalFiles
						.form-group.col-xs-4
							label Name
							input.form-control(type = "text", name = "fileName")
						.form-group.col-xs-7
							label URL
							input.form-control(type = "text", name = "fileUrl")
					a.addItem(class = "btn btn-default glyphicon glyphicon-plus", data-toggle = "tooltip", data-placement = "right", data-insertion = "<div class='row supplementalFiles' style='margin-top:.5em;'><div class='col-xs-4'><input type='text' name='fileName' class='form-control'></div><div class='col-xs-7'><input type='text' name='fileUrl' class='form-control'></div><a data-toggle='tooltip' data-placement='right' title='Remove this file' class='removeItem col-xs-1 btn btn-default glyphicon glyphicon-minus' style='margin-top:-1px;' /></div>", title = "Add another file")
			hr
			a.submitButton(class = "btn btn-default", onclick = "addGame();", disabled = "disabled") Submit
			a(class = "btn btn-link" href = "/admin/game") Cancel
		else
			.row
				.form-group.col-xs-6
					label Name
					input.form-control(type = "text", name = "name", value = game.name, autofocus)
				.form-group.col-xs-6
					label Version
					input.form-control(type = "text", name = "version", placeholder = "Current", value = game.version)
			.row
				fieldset.col-xs-12
					legend Games Page Description
					.row
						.form-group.col-xs-6
							label Description Header Image URL
							input.form-control(type = "text", name = "descriptionHeaderImage", value = game.descriptionHeaderImage)
					.row
						.form-group.col-xs-12
							label Description Content
							textarea.form-control.editorfield(type = "text", name = "description")= game.description
			.row
				fieldset.col-xs-12
					legend Supplemental Files
					if game.supplementalFiles.length > 0
						.row.supplementalFiles
							.form-group.col-xs-4
								label Name
								input.form-control(type = "text", name = "fileName", value = game.supplementalFiles[0].name)
							.form-group.col-xs-7
								label URL
								input.form-control(type = "text", name = "fileUrl", value = game.supplementalFiles[0].url)
						- for(var i = 1; i < game.supplementalFiles.length; i += 1){
							.row.supplementalFiles(style = "margin-top:.5em;")
								.col-xs-4
									input.form-control(type = "text", name = "fileName", value = game.supplementalFiles[i].name)
								.col-xs-7
									input.form-control(type = "text", name = "fileUrl", value = game.supplementalFiles[i].url)
								a.removeItem.col-xs-1(class = "btn btn-default glyphicon glyphicon-minus", style = "margin-top:-2px;", data-toggle = "tooltip", data-placement = "right", title = "Remove this handle")
						- }
					else	
						.row.supplementalFiles
							.form-group.col-xs-4
								label Name
								input.form-control(type = "text", name = "fileName")
							.form-group.col-xs-7
								label URL
								input.form-control(type = "text", name = "fileUrl")
					a.addItem(class = "btn btn-default glyphicon glyphicon-plus", data-toggle = "tooltip", data-placement = "right", data-insertion = "<div class='row supplementalFiles' style='margin-top:.5em;'><div class='col-xs-4'><input type='text' name='fileName' class='form-control'></div><div class='col-xs-7'><input type='text' name='fileUrl' class='form-control'></div><a data-toggle='tooltip' data-placement='right' title='Remove this file' class='removeItem col-xs-1 btn btn-default glyphicon glyphicon-minus' style='margin-top:-1px;' /></div>", title = "Add another file")
			hr
			.btn-group
				a.submitButton(class = "btn btn-default", onclick = "updateGame('" + game._id + "'); location.replace('/admin/game');") Save
				a(class = "btn btn-default", onclick = "updateGame('" + game._id + "');") Apply
			a(class = "btn btn-link" href = "/admin/game") Back
block pageScripts
	script(src = "/thirdparty/ckeditor/ckeditor.js")
	script(src = "/thirdparty/ckeditor/adapters/jquery.js")
	script(src = "/js/admin.js")
