//-
	-----------------------------------------------------------------------------
	Copyright (c) 2014 Seth Anderson

	This software is provided 'as-is', without any express or implied warranty. 
	In no event will the authors be held liable for any damages arising from the 
	use of this software.

	Permission is granted to anyone to use this software for any purpose, 
	including commercial applications, and to alter it and redistribute it 
	freely, subject to the following restrictions:

	1. The origin of this software must not be misrepresented; you must not 
	claim that you wrote the original software. If you use this software in a 
	product, an acknowledgment in the product documentation would be appreciated 
	but is not required.

	2. Altered source versions must be plainly marked as such, and must not be 
	misrepresented as being the original software.

	3. This notice may not be removed or altered from any source distribution.
	-----------------------------------------------------------------------------

extends layout.jade

block content
	h1 Game Manager
	hr
	#game-manager
		.global-operations
			.button-row-left
				a(class = "btn btn-default", name = "new", href = "/admin/game/new")
					span.button-icon(class = "glyphicon glyphicon-plus")
					| New
				a(class = "btn btn-default selection-only", name = "delete", onclick = "deleteSelectedGames();")
					span.button-icon(class = "glyphicon glyphicon-trash")
					| Delete
		table.table.table-hover.table-selectable.table-sortable
			thead
				tr
					th
					th(class = getSortClassForHeader(sort, "name"), onclick = "sortTable('" + getSortLinkForHeader(sort, "name") + "');") Name
					th(class = getSortClassForHeader(sort, "version"), onclick = "sortTable('" + getSortLinkForHeader(sort, "version") + "');") Version
					th(class = getSortClassForHeader(sort, "supplementalFiles"), onclick = "sortTable('" + getSortLinkForHeader(sort, "supplementalFiles") + "');") Files
					th
			tbody
				each game in games
					tr.game-row
						td
							input.row-selector(type = "checkbox", value = "")
							input(type = "hidden", value = game._id)
						td #{game.name}
						td #{game.version}
						td #{game.supplementalFiles.length}
						td
							.btn-group.button-row-right
								a(class = "btn btn-default btn-xs", name = "edit", href = "/admin/game/" + game._id)
									span.button-icon(class = "glyphicon glyphicon-pencil")
									| Edit
								a(class = "btn btn-default btn-xs", name = "delete", onclick = "deleteGame('" + game._id + "');")
									span.button-icon(class = "glyphicon glyphicon-trash")
									| Delete
		if games.length === 0
			.empty-table You haven't added any games yet!
