//-
	-----------------------------------------------------------------------------
	Copyright (c) 2014 Seth Anderson

	This software is provided 'as-is', without any express or implied warranty. 
	In no event will the authors be held liable for any damages arising from the 
	use of this software.

	Permission is granted to anyone to use this software for any purpose, 
	including commercial applications, and to alter it and redistribute it 
	freely, subject to the following restrictions:

	1. The origin of this software must not be misrepresented; you must not 
	claim that you wrote the original software. If you use this software in a 
	product, an acknowledgment in the product documentation would be appreciated 
	but is not required.

	2. Altered source versions must be plainly marked as such, and must not be 
	misrepresented as being the original software.

	3. This notice may not be removed or altered from any source distribution.
	-----------------------------------------------------------------------------

extends layout.jade

block content
	h1 LAN Manager
	hr
	#lan-manager
		.global-operations
			.button-row-left
				a(class = "btn btn-default", name = "new", href = "/admin/lan/new")
					span.button-icon(class = "glyphicon glyphicon-plus")
					| New
				a(class = "btn btn-default", name = "delete", onclick = "deleteSelectedLans();")
					span.button-icon(class = "glyphicon glyphicon-trash")
					| Delete
		table.table.table-hover
			thead
				tr
					th
					th(class = getSortClassForHeader(sort, "beginDate"), onclick = "sortTable('" + getSortLinkForHeader(sort, "beginDate") + "');") Begin Date
					th(class = getSortClassForHeader(sort, "endDate"), onclick = "sortTable('" + getSortLinkForHeader(sort, "endDate") + "');") End Date
					th(class = getSortClassForHeader(sort, "active"), onclick = "sortTable('" + getSortLinkForHeader(sort, "active") + "');") Active
					th(class = getSortClassForHeader(sort, "acceptingRsvps"), onclick = "sortTable('" + getSortLinkForHeader(sort, "acceptingRsvps") + "');") Accepting RSVPs
					th
			tbody
				each lan in lans
					tr.lan-row
						td
							input.lan-selector(type = "checkbox", value = "")
							input(type = "hidden", value = lan._id)
						td #{lan.beginDate}
						td #{lan.endDate}
						td
							if lan.active
								span(class = "glyphicon glyphicon-ok text-success")
							else
								span(class = "glyphicon glyphicon-remove text-danger")
						td
							if lan.acceptingRsvps
								span(class = "glyphicon glyphicon-ok text-success")
							else
								span(class = "glyphicon glyphicon-remove text-danger")
						td
							.btn-group.button-row-right
								a(class = "btn btn-default btn-xs", name = "edit", href = "/admin/lan/" + lan._id)
									span.button-icon(class = "glyphicon glyphicon-pencil")
									| Edit
								a(class = "btn btn-default btn-xs", name = "delete", onclick = "deleteLan('" + lan._id + "');")
									span.button-icon(class = "glyphicon glyphicon-trash")
									| Delete
		if lans.length === 0
			.empty-table You haven't added any LANs yet!
