//-
	-----------------------------------------------------------------------------
	Copyright (c) 2014-2015 Seth Anderson

	This software is provided 'as-is', without any express or implied warranty. 
	In no event will the authors be held liable for any damages arising from the 
	use of this software.

	Permission is granted to anyone to use this software for any purpose, 
	including commercial applications, and to alter it and redistribute it 
	freely, subject to the following restrictions:

	1. The origin of this software must not be misrepresented; you must not 
	claim that you wrote the original software. If you use this software in a 
	product, an acknowledgment in the product documentation would be appreciated 
	but is not required.

	2. Altered source versions must be plainly marked as such, and must not be 
	misrepresented as being the original software.

	3. This notice may not be removed or altered from any source distribution.
	-----------------------------------------------------------------------------

.menu-container.affix-top
	a(href = "/")
		.logo

	ul.menu-list(class = "nav nav-stacked")
		li
			a(href = "/") Home
		li
			a(href = "/games") Games
		li
			a(href = "/prep") Preparation
		li
			a(href = "/appearances") Confirmed Appearances

	if isAuthenticated
		h4 User Menu
		ul.menu-list(class = "nav nav-stacked")
			li
				a(href = "/profile") Profile
			if user.hasRole("admin") || user.hasRole("author")
				li
					a(href = "/authoring/article") Articles
			li
				a(href = "#", onclick = "logout();") Logout
		if user.hasRole("admin")
			h4 Admin Menu
			ul.menu-list(class = "nav nav-stacked")
				li
					a(href = "/admin/user") Users
				li
					a(href = "/admin/game") Games
				li
					a(href = "/admin/lan") LANs
				li
					a(href = "/admin/service/ts3") Teamspeak 3
				li
					a(href = "/admin/service/cod4") Call of Duty 4
	else
		form#login-form(role = "form")
			.form-group
				label Email
				input.form-control(type = "text", name = "email")
			.form-group
				label Password
				input.form-control(type = "password", name = "password")
			a.submitButton(class = "btn btn-default", onclick = "login();") Login
			a(class = "btn btn-link", href = "/register") Register
