//-
	-----------------------------------------------------------------------------
	Copyright (c) 2014-2015 Seth Anderson

	This software is provided 'as-is', without any express or implied warranty. 
	In no event will the authors be held liable for any damages arising from the 
	use of this software.

	Permission is granted to anyone to use this software for any purpose, 
	including commercial applications, and to alter it and redistribute it 
	freely, subject to the following restrictions:

	1. The origin of this software must not be misrepresented; you must not 
	claim that you wrote the original software. If you use this software in a 
	product, an acknowledgment in the product documentation would be appreciated 
	but is not required.

	2. Altered source versions must be plainly marked as such, and must not be 
	misrepresented as being the original software.

	3. This notice may not be removed or altered from any source distribution.
	-----------------------------------------------------------------------------

extends layout.jade

block content
	if !editUser
		if user && user.hasRole("admin")
			h1 Add User
		else
			h1 Registration Form
		hr
		form.validated-form#user-editor-form(role = "form")
			.row
				.form-group.col-xs-6
					label Email 
						span.text-danger (Required)
					input.form-control(type = "text", name = "email", autofocus)
			.row
				.form-group.col-xs-6
					label Password 
						span.text-danger (Required)
					input.form-control(type = "password", name = "password")
			.row
				.form-group.col-xs-6
					label Confirm Password
					input.form-control(type = "password", name = "confirmPassword")
			hr
			.row
				.form-group.col-xs-4
					label First Name
					input.form-control(type = "text", name = "firstName")
				.form-group.col-xs-4
					label Last Name
					input.form-control(type = "text", name = "lastName")
			.row
				.form-group.col-xs-6
					label Handles
					input.form-control(type = "text", name = "primaryHandle", placeholder = "Primary Handle")
			.row
				.form-group.col-xs-6
					a.addItem(class = "btn btn-default glyphicon glyphicon-plus", data-toggle = "tooltip", data-placement = "right", data-insertion = "<div class='input-group' style='margin-top:.5em;'><input type='text' name='tertiaryHandles' class='form-control'><span class='input-group-btn input-group-align'><a data-toggle='tooltip' data-placement='right' title='Remove this handle' class='removeItem btn btn-default glyphicon glyphicon-minus' /></span></div>", title = "Add another handle")
			if user && user.hasRole("admin")
				.row
					.form-group.col-xs-3
						label LAN Invite Desired
						.btn-group(data-toggle = "buttons")
							label(class = "btn btn-default active")
								input(type = "radio", name = "lanInviteDesired-yes")
								| Yes
							label(class = "btn btn-default")
								input(type = "radio", name = "lanInviteDesired-no")
								| No
				hr
				.row
					.form-group.col-xs-2
						label Blacklisted
						.btn-group(data-toggle = "buttons")
							label(class = "btn btn-default")
								input(type = "radio", name = "blacklisted-yes")
								| Yes
							label(class = "btn btn-default active")
								input(type = "radio", name = "blacklisted-no")
								| No
				.row
					.form-group.col-xs-6
						label Roles
						input.form-control.tokenfield(type = "text", name = "roles")
				hr
				a.submitButton(class = "btn btn-default", onclick = "addUser();", disabled = "disabled") Submit
			else
				hr
				a.submitButton(class = "btn btn-default", onclick = "register();", disabled = "disabled") Register
	else
		if user.hasRole("admin")
			h1 Edit User
		else
			h1 My Profile
		hr
		form.validated-form#user-editor-form(role = "form")
			.row
				.col-xs-9
					.row
						.form-group.col-xs-6
							label Email
							input.form-control(type = "text", name = "email", value = editUser.email, autofocus)
						if !editUser.verified
							.field-align.col-xs-6
								span.text-danger.form-control-static.col-xs-6 Email not verified!
								if user.hasRole("admin")
									a.col-xs-6(class = "btn btn-danger" onclick = "resendVerificationEmail('" + editUser._id + "');") Resend Verification
								else
									a.col-xs-6(class = "btn btn-danger" onclick = "resendVerificationEmail('session');") Resend Verification
					.row
						.form-group.col-xs-5
							label First Name
							input.form-control(type = "text", name = "firstName", value = editUser.firstName)
						.form-group.col-xs-5
							label Last Name
							input.form-control(type = "text", name = "lastName", value = editUser.lastName)
					.row
						.form-group.col-xs-6
							label Handles
							input.form-control(type = "text", name = "primaryHandle", placeholder = "Primary Handle", value = editUser.primaryHandle)
					.row
						.form-group.col-xs-6
							each handle in editUser.tertiaryHandles
								div.input-group(style = "margin-top:.5em;")
									input.form-control(type = "text", name = "tertiaryHandles", value = handle)
									span.input-group-btn.input-group-align
										a.removeItem(class = "btn btn-default glyphicon glyphicon-minus", data-toggle = "tooltip", data-placement = "right", title = "Remove this handle")
							a.addItem(class = "btn btn-default glyphicon glyphicon-plus", data-toggle = "tooltip", data-placement = "right", data-insertion = "<div class='input-group' style='margin-top:.5em;'><input type='text' name='tertiaryHandles' class='form-control'><span class='input-group-btn input-group-align'><a data-toggle='tooltip' data-placement='right' title='Remove this handle' class='removeItem btn btn-default glyphicon glyphicon-minus' /></span></div>", title = "Add another handle")
					.row
						.form-group.col-xs-3
							label LAN Invite Desired
							.btn-group(data-toggle = "buttons")
								if editUser.lanInviteDesired
									label(class = "btn btn-default active")
										input(type = "radio", name = "lanInviteDesired-yes")
										| Yes
									label(class = "btn btn-default")
										input(type = "radio", name = "lanInviteDesired-no")
										| No
								else
									label(class = "btn btn-default")
										input(type = "radio", name = "lanInviteDesired-yes")
										| Yes
									label(class = "btn btn-default active")
										input(type = "radio", name = "lanInviteDesired-no")
										| No
				.col-xs-3
					if user.hasRole("admin")
						.well
							.row
								.form-group
									label Registered:
									p= getFormattedTime(editUser.created)
							.row
								.form-group
									label Modified:
									p= getFormattedTime(editUser.modified)
							.row
								.form-group
									label Last Online:
									p= getFormattedTime(editUser.accessed)
			if user.hasRole("admin")
				hr
				.row
					.form-group.col-xs-2
						label Blacklisted
						.btn-group(data-toggle = "buttons")
							if editUser.blacklisted
								label(class = "btn btn-default active")
									input(type = "radio", name = "blacklisted-yes")
									| Yes
								label(class = "btn btn-default")
									input(type = "radio", name = "blacklisted-no")
									| No
							else
								label(class = "btn btn-default")
									input(type = "radio", name = "blacklisted-yes")
									| Yes
								label(class = "btn btn-default active")
									input(type = "radio", name = "blacklisted-no")
									| No
				.row
					.form-group.col-xs-6
						label Roles
						input.form-control.tokenfield(type = "text", name = "roles", value = editUser.roles)
				hr
				.btn-group
					a.submitButton(class = "btn btn-default", onclick = "updateUser('" + editUser._id + "'); location.replace('/admin/user')") Save
					a(class = "btn btn-default", onclick = "updateUser('" + editUser._id + "');") Apply
			else
				hr
				a.submitButton(class = "btn btn-default", onclick = "updateUser('session');") Update
			a(class = "btn btn-link", onclick = "showChangePasswordModal();") Change Password
		.modal.fade#changePasswordModal
			.modal-dialog
				.modal-content
					form.validated-form#change-password-form(role = "form")
						.modal-header
							button.close(type = "button", data-dismiss = "modal")
								span.sr-only(aria-hidden = "true") &times;
								span.sr-only Close
							h4.modal-title Change Password
						.modal-body
							.row
								.form-group.col-xs-6
									label New Password
									input.form-control(type = "password", name = "newPassword")
							.row
								.form-group.col-xs-6
									label Confirm Password
									input.form-control(type = "password", name = "confirmPassword")
						.modal-footer
							a(class = "btn btn-link", data-dismiss = "modal") Cancel
							if user.hasRole("admin")
								a.submitButton(class = "btn btn-default", data-dismiss = "modal", onclick = "changePassword('" + editUser._id + "');", disabled = "disabled") Save
							else
								a.submitButton(class = "btn btn-default", data-dismiss = "modal", onclick = "changePassword('session');", disabled = "disabled") Save
block pageScripts
	link(rel = "stylesheet", type = "text/css", href = "/thirdparty/bootstrap-validator/bootstrapValidator.min.css")
	script(src = "/thirdparty/bootstrap-validator/bootstrapValidator.min.js")
	if user && user.hasRole("admin")
		link(rel = "stylesheet", type = "text/css", href = "/thirdparty/bootstrap-tokenfield/bootstrap-tokenfield.min.css")
		link(rel = "stylesheet", type = "text/css", href = "/thirdparty/bootstrap-tokenfield/tokenfield-typeahead.min.css")
		script(src = "/thirdparty/bootstrap-tokenfield/bootstrap-tokenfield.min.js")
