//-
	-----------------------------------------------------------------------------
	Copyright (c) 2014-2015 Seth Anderson

	This software is provided 'as-is', without any express or implied warranty. 
	In no event will the authors be held liable for any damages arising from the 
	use of this software.

	Permission is granted to anyone to use this software for any purpose, 
	including commercial applications, and to alter it and redistribute it 
	freely, subject to the following restrictions:

	1. The origin of this software must not be misrepresented; you must not 
	claim that you wrote the original software. If you use this software in a 
	product, an acknowledgment in the product documentation would be appreciated 
	but is not required.

	2. Altered source versions must be plainly marked as such, and must not be 
	misrepresented as being the original software.

	3. This notice may not be removed or altered from any source distribution.
	-----------------------------------------------------------------------------

form(name = "changePasswordForm", novalidate, ng-submit = "changePass.ok()")
	.modal-header
		h4.modal-title Change Password
	.modal-body
		.row
			.form-group.col-xs-6
				label Old Password
				input.form-control(type = "password", name = "oldPassword", ng-model = "changePass.oldPass", required, autofocus)
				.form-feedback.text-danger(ng-messages = "changePasswordForm.oldPassword.$error", ng-if = "changePasswordForm.oldPassword.$dirty", role = "alert")
					div(ng-message = "required") You must enter your existing password
		.row
			.form-group.col-xs-6
				label New Password
				input.form-control(type = "password", name = "newPassword", ng-model = "changePass.newPass", required, pattern = "(?=.*\\d)(?=.*[a-z])(?=.*[A-Z]).{8,255}")
				.form-feedback.text-danger(ng-messages = "changePasswordForm.newPassword.$error", ng-if = "changePasswordForm.newPassword.$dirty", role = "alert")
					div(ng-message = "required") You must enter a new password
					div(ng-message = "pattern") Invalid password: your password must consist of at least 8 characters including a lowercase letter, an uppercase letter, and a number
		.row
			.form-group.col-xs-6
				label Confirm Password
				input.form-control(type = "password", name = "confirmPassword", ng-model = "changePass.confirmPass", compare-to = "changePass.newPass")
				.form-feedback.text-danger(ng-messages = "changePasswordForm.confirmPassword.$error", ng-if = "changePasswordForm.confirmPassword.$dirty", role = "alert")
					div(ng-message = "compareTo") Passwords must match
	.modal-footer
		a.btn.btn-link(ng-click = "changePass.cancel()") Cancel
		input.btn.btn-default(type = "submit", ng-click = "changePass.ok()", ng-disabled = "changePasswordForm.$invalid", value = "Save")
