//-
	-----------------------------------------------------------------------------
	Copyright (c) 2014-2017 Seth Anderson

	Permission is hereby granted, free of charge, to any person obtaining a copy
	of this software and associated documentation files (the "Software"), to deal
	in the Software without restriction, including without limitation the rights
	to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
	copies of the Software, and to permit persons to whom the Software is
	furnished to do so, subject to the following conditions:

	The above copyright notice and this permission notice shall be included in all
	copies or substantial portions of the Software.

	THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
	IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
	FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
	AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
	LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
	OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
	SOFTWARE.
	-----------------------------------------------------------------------------

form(name = "forgotPasswordForm", novalidate, ng-submit = "forgotPass.ok()")
	.modal-header
		h4.modal-title Forgot Password
	.modal-body
		p Please enter the email address of your account. An email will be sent to that address with instructions for resetting your password.
		.row
			.form-group.col-xs-6
				label Email
				input.form-control(type = "email", name = "email", ng-model = "forgotPass.email", required, autofocus)
				.form-feedback.text-danger(ng-messages = "forgotPasswordForm.email.$error", ng-if = "forgotPasswordForm.email.$dirty", role = "alert")
					div(ng-message = "required") You must enter an email
					div(ng-message = "email") Invalid email
	.modal-footer
		a.btn.btn-link(ng-click = "forgotPass.cancel()") Cancel
		input.btn.btn-default(type = "submit", ng-click = "forgotPass.ok()", ng-disabled = "forgotPasswordForm.$invalid", value = "Send")
