//-
	-----------------------------------------------------------------------------
	Copyright (c) 2014-2018 Seth Anderson

	Permission is hereby granted, free of charge, to any person obtaining a copy
	of this software and associated documentation files (the "Software"), to deal
	in the Software without restriction, including without limitation the rights
	to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
	copies of the Software, and to permit persons to whom the Software is
	furnished to do so, subject to the following conditions:

	The above copyright notice and this permission notice shall be included in all
	copies or substantial portions of the Software.

	THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
	IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
	FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
	AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
	LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
	OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
	SOFTWARE.
	-----------------------------------------------------------------------------

div(ng-controller = "PrepController as prep")
	div(ng-if = "prep.loaded && !prep.lan")
		h1 No active LAN defined
		hr
	div(ng-if = "prep.loaded && prep.lan")
		h1 Preparation Info
		hr
		p
			strong 
				em Cover Charge:
			br
			| Please plan on a small contribution of {{prep.lan.entryFee | currency : $ : 0}} to defray the electric bill, food and other expenses. If you’re bringing some food to share the fee can be waived.

		p
			strong
				em Equipment You Need: 
			| Bring everything you will need for gaming including:
			br
			strong Cat5 cable – As long as possible
			br
			strong Mouse Pad
			| - People love to forget this one!  The supply of spares will be limited.
			br
			strong Headphones!
			| - To be courteous to others’ and for sound pollution
			br
			strong Powerstrip!
			| - Try not to piggy-back, and please plug directly into approved 3akm power pucks (yellow and labeled).
			br
			| Lap Board for mouse and keyboard (optional but don’t get screwed without one)
			br
			| And obviously: PC, Monitor, Keyboard, Mouse, and power cord.

		p
			strong
				em Equipment provided: 
			br
			| Infrastructure – A high-speed gigabit LAN, with Quality of Service for game traffic will be provided for connections.  Please be courteous, and download large game files in advance, or from the approved 3AKM Storage Server located onsite.  Please note, any switches you bring should be approved by the us and may not function correctly when plugged in.  This is due to a layer of security that exists on our switches.  These measures have been taken to ensure a stable and high performance network.  There should be an adequate number of switches available for your connection.
			br
			| Power Outlets - Official 3AKM yellow power pucks are your source of juice.  You may sit by your friends, but if you are bringing a system with an 800-watt or higher power supply, please allow the 3AKM hosts to reroute your power across circuits as needed.  If you wish to bring a UPS, please find one of the hosts to help you locate an appropriate power circuit on the 3AKM power substation.
			br
			| Spectator Server on HDTV (with tournament rankings)

		p
			strong
				em Seating/Sleeping:
			br
			| There is PLENTY of floor space available both upstairs and downstairs. Bring sleeping bag and a pillow! No hotel needed!
			br
			br
			| There is also plenty of lawn space available for those that would like to bring a tent (campers are OK).
		p(ng-if = "isAuthenticated")
			strong
				em Location
			br
			| 1785 Leavitt Woods Ln, Shakopee, MN 55379
			br
			iframe(src = "https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d4764.866232197112!2d-93.50189907870471!3d44.75620493557425!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87f616d350391a43%3A0xcf7ba03b7e4aebae!2s1785+Leavitt+Woods+Ln%2C+Shakopee%2C+MN+55379!5e0!3m2!1sen!2sus!4v1499734902333", width = "100%", height = "600", frameborder = "0", style = "border:0;", allowFullscreen)
		p(ng-if = "!isAuthenticated")
			strong
				em Location
			br
			| Please log in to see LAN location information
