//-
	-----------------------------------------------------------------------------
	Copyright (c) 2014-2015 Seth Anderson

	This software is provided 'as-is', without any express or implied warranty. 
	In no event will the authors be held liable for any damages arising from the 
	use of this software.

	Permission is granted to anyone to use this software for any purpose, 
	including commercial applications, and to alter it and redistribute it 
	freely, subject to the following restrictions:

	1. The origin of this software must not be misrepresented; you must not 
	claim that you wrote the original software. If you use this software in a 
	product, an acknowledgment in the product documentation would be appreciated 
	but is not required.

	2. Altered source versions must be plainly marked as such, and must not be 
	misrepresented as being the original software.

	3. This notice may not be removed or altered from any source distribution.
	-----------------------------------------------------------------------------

h1 User Profile
hr
form(name = "profileForm", novalidate, ng-controller = "ProfileController as profile", ng-submit = "profile.save()", ng-show = "profile.loaded")
	.row
		.col-xs-9
			.row
				.form-group.col-xs-6
					label Email 
						span.text-danger (Required)
					input.form-control(type = "email", name = "email", autofocus, ng-model = "profile.email", required)
					.form-feedback.text-danger(ng-messages = "profileForm.email.$error", ng-if = "profileForm.email.$dirty", role = "alert")
						div(ng-message = "required") An email is required
						div(ng-message = "email") Invalid email
				.field-align.col-xs-6(ng-if = "!profile.verified")
					span.text-danger.form-control-static.col-xs-6 Email not verified!
					a.col-xs-6(class = "btn btn-danger" ng-click = "profile.resendVerificationEmail()") Resend Verification
				.field-align.col-xs-6(ng-if = "profile.verified")
					span.text-success.form-control-static.col-xs-6 Been verified!
			.row
				.form-group.col-xs-4
					label First Name
					input.form-control(type = "text", name = "firstName", ng-model = "profile.firstName")
				.form-group.col-xs-4
					label Last Name
					input.form-control(type = "text", name = "lastName", ng-model = "profile.lastName")
			.row
				.form-group.col-xs-6
					label Handles
					input.form-control(type = "text", name = "primaryHandle", ng-model = "profile.primaryHandle", placeholder = "Primary Handle")
			.row
				.form-group.col-xs-6
					simple-array-entry(array-model = "profile.tertiaryHandles", addition-tooltip = "Add another handle", removal-tooltip = "Remove this handle")
			.row
				.form-group.col-xs-6
					label LAN Invite Desired
					enum-select(current = "profile.lanInviteDesired", possibles = "profile.boolPossibles")
			.row(ng-if = "profile.roles.indexOf('admin') !== -1")
				hr
				.col-xs-4
					label Roles
					simple-array-entry(array-model = "profile.roles", addition-tooltip = "Add another role", removal-tooltip = "Remove this role")
		.col-xs-3
			.well
				.row
					.form-group
						label Registered:
						p {{profile.created | date:"medium"}}
				.row
					.form-group
						label Modified:
						p {{profile.modified | date:"medium"}}
				.row
					.form-group
						label Last Online:
						p {{profile.accessed | date:"medium"}}
	hr
	input.btn.btn-default(type = "submit", value = "Save", ng-disabled = "profileForm.$invalid")
	a.btn.btn-link(ng-click = "profile.openChangePasswordModal()") Change Password
