//-
	-----------------------------------------------------------------------------
	Copyright (c) 2014-2016 Seth Anderson

	This software is provided 'as-is', without any express or implied warranty. 
	In no event will the authors be held liable for any damages arising from the 
	use of this software.

	Permission is granted to anyone to use this software for any purpose, 
	including commercial applications, and to alter it and redistribute it 
	freely, subject to the following restrictions:

	1. The origin of this software must not be misrepresented; you must not 
	claim that you wrote the original software. If you use this software in a 
	product, an acknowledgment in the product documentation would be appreciated 
	but is not required.

	2. Altered source versions must be plainly marked as such, and must not be 
	misrepresented as being the original software.

	3. This notice may not be removed or altered from any source distribution.
	-----------------------------------------------------------------------------

h1 User Verification
hr
div(ng-controller = "VerifyController as verify")
	p(ng-if = "!verify.loaded")
		| Verifying...
	.col-xs-12(ng-if = "verify.loaded")
		.row
			p(ng-if = "verify.verified") 
				span.text-success Been verified!
				| Feel free to log in and enjoy the full functionality of the site. 
				br
				br
				| Please remember to 
				a(href = "/rsvp") RSVP
				|  for the upcoming LAN!
			p(ng-if = "!verify.verified")
				span.text-danger Verification failed!
				| Verification tokens are single-use and only last for one hour after the email is sent. 
				| Perhaps you waited too long?
				br
				br
				| If that's not the case, and you still can't verify your email with the site, 
				| please contact 
				a(href = "mailto:seth.anderson32@gmail.com") Seth
				| .
				br
				br
